@font-face {
    font-family: 'usual';
	src: url('static/usual-light.otf') format("opentype");
	font-style: normal;
}

@font-face {
    font-family: 'opensans';
	src: url('static/opensans-light.ttf');
	font-style: normal;
}

header, .presentation, footer{
    font-family: 'usual';
}

.presentation ~ section{
    font-family: 'opensans';
}

body{
    max-width: 1920px;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
}

header{
    background-color: #171717;
}

header > div{
    display:flex;
    width: 1787px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1550px;
}

nav > ul{
    width: 734px;
    display: flex;
    justify-content: space-evenly;
}

nav > ul + ul > li ::after{
    content: '';
    color: white;
    display: block;
    width: 150px;
    height: 2px;
    border-color: #009A8F;
    background-color: #009A8F;
    border-width: 1px;
    border-style: solid;
    margin: 0 auto;
    margin-top: 10px;
}

nav > ul + ul > li +li ::after{
    border-color: #0468A1;
    background-color: #0468A1; 
}

.déroulant > li ::after{
    content: "v";
    margin-left: 6px;
}

.déroulant > li + li + li + li + li  ::after{
    display: none;
}

nav > ul + ul{
    width: 350px;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

li > a{
    color: white;
    font-size: 16px;
}

.presentation{
    display: flex;
    height: 756px;
    background-color: #171717;
    color: white;
    padding-left: 262px;
    overflow: hidden;
}

.presentation ul {
    display: flex;
    justify-content: space-between;
    width: 366px;
    padding-top: 154px;
    padding-left: 0;
}

.presentation ul > li ::after{
    content: ">";
    margin-left: 12px;
}

.presentation ul > li + li + li{
    color: #707070;
}

h1{
    font-size: 60px;
    font-weight: 100;
    margin: 41px 0px;
}

p{
    font-size: 20px;
}

.presentation > div > p{
    width: 552px;
    margin-bottom: 61px;
    line-height: 35px;
}

.reseaux{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.iphone > img{
    margin-top: -20px;
    margin-left: 30px;
}


.iphone > img + img{
    width: 865px;
    height: 985px;
    margin-top: -500px;
    margin-left: -250px;
}

.presentation ~ section{
    width: 1400px;
    color: #002262;
    margin: auto;
}

.liste-acteurs{
    display: flex;
    flex-wrap: wrap;
}

h2{
    font-size: 55px;
    font-weight: 100;
}

figure
{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 452px;
    padding-bottom: 3px;
    margin: 0px 7px 100px 7px;
}

figure > img
{
	width: 452px;
	height: 303px;
	object-fit: cover;
	margin: auto;
}

figcaption
{
	margin-top: 63px;
}

figcaption p {
    width: 380px;
    height: 70px;
    margin: 0;
    font-size: 26px;
}

span{
    font-weight: bold;
}

footer{
    background-color: #171717;
    height: 780px;
}

footer img{
    width: 83px;
    margin-left: 120px;
}

.liens{
    display: flex;
    justify-content: space-around;
    padding-top: 170px;
}

.nav-footer{
    justify-content: space-around;
    align-items: flex-start;
}

.nav-footer ol > li > a{
    color: #707070;
    line-height: 35px;
}

h3{
    color: white;
    font-size: 24px;
}

ol{
    list-style-type: none;
    padding: 0;
}

.mentions-reseaux{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1640px;
    margin: auto;
    padding-top: 90px;
}

.mentions-reseaux ol{
    display: flex;
    justify-content: space-around;
    width: 900px;
}

.reseaux{
    color: white;
}